@import "../../scss/variables";
.sidebar {
    width: 300px;
    max-width: 300px;
    height: 100vh;
    border-right: 1px solid #3e3e3e;
    background: #272527;
    padding: 2rem 0;
    &__switch {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 40px;
        display: none;
        padding: 0 1rem;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 50%;
            border-radius: 999px;
        }
    }
    &__links {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &-item {
            // background: $primary-color;
            width: 100%;
            padding: 1rem 0;
            font-size: 1.5rem;
            text-align: center;
            border-bottom: 1px solid #3e3e3e;
            transition: all 0.3s ease;
            span {
                margin-left: 1rem;
            }
            &:hover {
                color: $primary-color;
            }
            &.active {
                color: $primary-color;
            }
        }
    }
    @media screen and (max-width: 767.98px) {
        width: 100px;
        &__switch {
            display: flex;
        }
        // &__logo {
        //     display: none;
        // }
        &__links {
            &-item {
                span {
                    display: none;
                }
            }
        }
    }
}
